body {
    font-family: "Arimo", sans-serif;

}

.title-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px; /* Add spacing between image and title */
    margin-bottom: -10px;
}

.logo {
    display: block; /* Center the image */
    margin-bottom: 0px; /* Add spacing between image and title */
    margin-top: 90px;
  }

.title {
    font-size: 40px;
    text-align: center; /* Center the text */
    font-family: "Arimo", sans-serif; /* Apply Arimo font as the default */
    color: #2B4570;
}


.input-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
}

.column {
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: 0 auto; /* Adjust the margin between columns */
    margin-left: 100px; /* Add margin to the left column */
    margin-right: 100px; /* Add margin to the right column */
}

.input-group {
    margin-bottom: 10px; /* Adjust the margin between input groups */
    margin-top: 40px;
    margin-right: 150px;
}

.input-label {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 20px;
}

.input-field {
    width: 120%;
    height: 40px; /* Adjust the height */
    padding: 8px;
    font-size: 16px; /* Adjust the font size */
    border: 1px solid #ccc;
    border-radius: 4px;
}

.random-number-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px; /* Add spacing from the input fields */
}

.random-number-box {
    display: inline-block;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 0px;
    width: 30%;

}

#generated-number {
    font-size: 16px; /* Increase font size for the generated number */
    padding: 5px; /* Increase padding for more space around the number */
}

.custom-button {
    padding: 19px 30px; /* Increase padding for a larger button */
    background-color: #2B4570;
    color: #fff;
    border: none;
    border-radius: 0px;
    text-align: center;
    text-decoration: none;
    font-size: 20px; /* Increase font size */
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 0px; /* Add horizontal spacing to the buttons */
    width: 20%;
}

.copy-button {
    padding: 19px 20px; /* Increase padding for a larger button */
    background-color: #2B4570;
    color: #fff;
    border: none;
    border-radius: 0px;
    text-align: center;
    text-decoration: none;
    font-size: 20px; /* Increase font size */
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 0px; /* Add horizontal spacing to the buttons */
    width: 10%;
    margin-left: 30px;
}

.input-field.random-number-field {
    width: 100%;
    height: 40px; /* Increase the height */
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.back-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ccc;
    color: #fff;
    border: none;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    
}

.back-button:hover {
    background-color: #999;
}

.form {
    margin-bottom: 20px; /* Adjust the value as needed */
}

footer {
    background-color: #2B4570; /* Replace with your desired color code */
}

